body {
    margin: 0;
    background-color: white;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    height: 90vh;
    width: 80%;
}

img {
    max-width: 100%;
}

.main {
    padding: 10px;
}

.wrapper {
    padding: 1rem;
}

.btns {
    margin: 1rem;
}

.search {
    max-width: 100%;
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 0.5rem;
}

.search-btn {
    margin-bottom: 0.5rem;
}

.sidebar {
    background-color: #f0f0f0;
    min-height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}

@media only screen and (max-width: 600px) {
    .sidebar {
        height:fit-content;
    }
}
